.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    transform: scale(1.03);
}

.portfolio_item-image {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.portfolio_item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_item h3 {
    margin: 0.5rem 1rem;
    text-align: center;
}

/*.portfolio_item h5 {
    text-align: center;
    margin: 1px;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    
    border-radius: 0.5rem;
    
}*/

.portfolio_item-cta {
    margin-bottom: 2px;
    text-align: center;
}

/*------------------------------------Media for Tabs-----------------------------------------------*/
@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*------------------------------------Media for Mobiles-----------------------------------------------*/
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
