.icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
  }
  
  .tech-icon {
    font-size: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    transition: transform 0.3s ease;
  }
  
  .tech-icon:hover {
    transform: translateY(-10px);
  }
  
  .cyan { color: #193285; }
  .green { color: #4caf50; }
  .orange { color: #fb923c; }
  .blue { color: #2196f3; }
  .yellow { color: #ffeb3b; }
  .black {color : #000000;}
  .red { color: #ff0000; }